<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin">
                <i class="fas fa-home menu-icon"></i>
                <span class="menu-title">Main Page</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/courses">
                <i class="fas fa-book menu-icon"></i>
                <span class="menu-title">Courses</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/events">
                <i class="fas fa-calendar-alt menu-icon"></i>
                <span class="menu-title">Events</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/teachers">
                <i class="fas fa-chalkboard-teacher menu-icon"></i>
                <span class="menu-title">Teachers</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/blogs">
                <i class="fas fa-pen menu-icon"></i>
                <span class="menu-title">Blogs</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/comments">
                <i class="fas fa-comments menu-icon"></i>
                <span class="menu-title">Comments</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/speakers">
                <i class="fas fa-microphone menu-icon"></i>
                <span class="menu-title">Speakers</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/messages">
                <i class="fas fa-envelope menu-icon"></i>
                <span class="menu-title">Messages</span>
            </a>
        </li>
    </ul>
</nav>
