<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Main Page</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/courses">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Courses</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/events">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Events</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/teachers}">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Teachers</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/blogs">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Blogs</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/comments">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Comments</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/partners">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Əməkdaşlıq</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/speakers">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Speaker</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/sliders">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Slider</span>
            </a>
        </li>


    </ul>
</nav>
<!-- partial -->