<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="MainContent">
    <!-- Banner Area Start -->
    <div class="banner-area-wrapper">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>events</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <!-- Event Start -->
    <div class="event-area three text-center pt-150 pb-150">
        <div class="container">
            <div class="row" >
                <div th:each="event: ${events}" class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60" style="height: 100%;">
                        <div class="event-img">
                            <a th:href="@{/event/detail(id=${event.id})}">
                                <img th:src="'/'+${event.getImage()}" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3 th:text="${event.startTime.dayOfMonth}">20</h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a th:href="@{/event/detail(id=${event.id})}" th:text="${event.name}"></a></h4>
                            <ul>
                                <li><span>time:</span> 9.00 AM - 4.45 PM</li>


                                <li>
                                    <span>venue:</span>
                                    <span th:text="${event.location}">New York City</span>
                                </li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" th:href="@{/event/detail(id=${event.id})}">join now</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 hidden-sm hidden-xs">
                    <div class="single-event">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="img/event/event13.jpg" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>04 <span>jun</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a href="event-details.html">NEW TREND IN WEBDESIGN</a></h4>
                            <ul>
                                <li><span>time:</span> 9.00 AM - 4.45 PM</li>
                                <li><span>venue</span> New Yourk City</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Event End -->

</main>

</body>
</html>
