


<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="MainContent">
    <!-- Banner Area Start -->
    <div class="banner-area-wrapper">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>event / details</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <!-- Event Details Start -->
    <div class="event-details-area blog-area pt-150 pb-140">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="event-details">
                        <div class="event-details-img">
                            <img style="height: auto; width: 100%; object-fit: cover"
                                 th:if="${event.image.startsWith('http')}"
                                 th:src="${event.getImage()}" alt="course details">
                            <img style="height: auto; width: 100%; object-fit: cover"
                                 th:if="${!event.image.startsWith('http')}"
                                 th:src="'/'+ ${event.getImage()}" alt="course details">
                            <div class="event-date" style="width: 100px;">
                                <h3>
                                    <span th:text="${#temporals.format(event.getEventDate(), 'MMMM')}"></span> <span th:text="${#temporals.format(event.getEventDate(), 'dd')}"></span>
                                </h3>
                            </div>
                        </div>
                        <div class="event-details-content">
                            <h2 th:text="${event.getName()}"></h2>
                            <ul>
                                <li><span>time : </span>
                                    <span th:text="${#temporals.format(event.getStartTime(), 'HH:mm')}"></span>
                                      -
                                    <span th:text="${#temporals.format(event.getEndTime(), 'HH:mm')}"></span>
                                </li>
                                <li><span>venue : </span><span th:text="${event.getLocation()}"></span></li>
                            </ul>
                            <p th:text="${event.getDescription()}"></p>
                            <h2>Speakers</h2>
                            <ul>
                                <li th:each="speaker : ${speakers}">
                                    <p th:text="${speaker.fullname}">Speaker Name</p>
                                    <p th:text="${speaker.duty}">Duty</p>
                                    <p th:text="${speaker.company}">Company</p>
                                    <img th:src="@{${speaker.image}}" alt="Speaker Image"/>
                                </li>
                            </ul>

                            <div  class="speakers-area fix">
                                <h4>speakers</h4>
                                <div th:each="speaker : ${speakers}" class="single-speaker">
                                    <div class="speaker-img">
                                        <img th:src="@{'/' + ${speaker.getImage()}}" alt="speaker">
                                    </div>
                                    <div class="speaker-name">
                                        <h5 th:text="${speaker.fullname}">Speaker Name</h5>
                                        <p th:text="${speaker.duty} + ', ' + ${speaker.getCompany()}">Speaker Duty, Company</p>
                                    </div>
                                </div>
                                <div class="single-speaker">
                                    <div class="speaker-img">
                                        <img th:src="@{/img/event/speaker2.jpg}" alt="speaker">
                                    </div>
                                    <div class="speaker-name">
                                        <h5>Lucy Rose</h5>
                                        <p>Developer, STD </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:insert="~{fragments/reply.html}"></div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-sidebar right">
                        <div class="single-blog-widget mb-50">
                            <h3>search</h3>
                            <div class="blog-search">
                                <form id="search" action="#">
                                    <input type="search" placeholder="Search..." name="search" />
                                    <button type="submit">
                                        <span><i class="fa fa-search"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="single-blog-widget mb-50">
                            <h3>categories</h3>
                            <ul>
                                <li><a href="#">CSS Engineering (10)</a></li>
                                <li><a href="#">Political Science (12)</a></li>
                                <li><a href="#">Micro Biology (08)</a></li>
                                <li><a href="#">HTML5 &amp; CSS3 (15)</a></li>
                                <li><a href="#">Web Design (20)</a></li>
                                <li><a href="#">PHP (23)</a></li>
                            </ul>
                        </div>
                        <div class="single-blog-widget mb-50">
                            <div class="single-blog-banner">
                                <a th:href="@{/blogs/{id}(id=1)}" id="blog">
                                    <img th:src="@{/img/blog/blog-img.jpg}" alt="blog"></a>


                                <h2>best<br> education<br> theme</h2>
                            </div>
                        </div>
                        <div  class="single-blog-widget mb-50">
                            <h3>latest post</h3>
                            <div th:each="blog:${blogs}" class="single-post mb-30">
                                <div class="single-post-img">
                                    <a th:href="@{/blogs/{id}(id=${blog.id})}">

                                        <img style="max-width: 100px; max-height: 100px"
                                             th:if="${event.image.startsWith('http')}"
                                             th:src="${blog.getImage()}" alt="course details">
                                        <img style="max-width: 100px; max-height: 100px"
                                             th:if="${!event.image.startsWith('http')}"
                                             th:src="'/'+ ${blog.getImage()}" alt="course details">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4 th:href="${blog.getTitle()}"><a th:href="@{/blogs/{id}(id=${blog.id})}">English Language Course for you</a></h4>
                                    <p>
                                        <span th:text="'By '+${blog.getAuthor()} + ' / ' "></span>
                                        <span th:text="${#temporals.format(blog.getCreateTime(), 'MMMM d, yyyy')} "></span>

                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Event Details End -->

</main>

</body>
</html>
