
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layouts/layout">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main layout:fragment="MainContent">



  <!-- Banner Area Start -->
  <div class="banner-area-wrapper">
    <div class="banner-area text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="banner-content-wrapper">
              <div class="banner-content">
                <h2>blog details</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner Area End -->
  <!-- Blog Start -->
  <div class="blog-details-area pt-150 pb-140">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-details">
            <div class="blog-details-img">
              <img th:src="'/' + ${blog.getImage()}" alt="blog-details">
            </div>
            <div class="blog-details-content">
              <h2 th:text="${blog.getTitle()}"></h2>

              <h6>
                <span th:text="'By ' + ${blog.author} + ' / ' + ${#temporals.format(blog.createTime, 'MMMM d, yyyy')} + ' / '"></span>
                <i class="fa fa-comments-o"></i>
                <span th:text="${blog.getCommentsCount()}">4</span>
              </h6>


              <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human haness pcias unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque sa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam volutatem quia voluptas sit asnatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui </p>
              <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human haness pcias unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
              <p class="quote">I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human haness pcias unde omnis iste natus error sit voluptatem accusantium doloremque la udantium, totam rem aperiam</p>
              <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human haness pcias unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque sa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo emo enim ipsam</p>
            </div>
            <div th:insert="~{fragments/reply.html}"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-sidebar right">
            <div class="single-blog-widget mb-47">
              <h3>search</h3>
              <div class="blog-search">
                <form id="search" action="#">
                  <input type="search" placeholder="Search..." name="search" />
                  <button type="submit">
                    <span><i class="fa fa-search"></i></span>
                  </button>
                </form>
              </div>
            </div>
            <div class="single-blog-widget mb-47">
              <h3>categories</h3>
              <ul>
                <li><a href="#">CSS Engineering (10)</a></li>
                <li><a href="#">Political Science (12)</a></li>
                <li><a href="#">Micro Biology (08)</a></li>
                <li><a href="#">HTML5 &amp; CSS3 (15)</a></li>
                <li><a href="#">Web Design (20)</a></li>
                <li><a href="#">PHP (23)</a></li>
              </ul>
            </div>
            <div class="single-blog-widget mb-47">
              <div class="single-blog-banner">
                <a href="blog-details.html" id="blog"><img th:src="@{/img/blog/blog-img.jpg}" alt="blog"></a>
                <h2>best<br> eductaion<br> theme</h2>
              </div>
            </div>
            <div class="single-blog-widget mb-47">
              <h3>latest post</h3>
              <div th:each="blog:${blogs}" class="single-post mb-30">
                <div class="single-post-img">
                  <a th:href="@{/blogs/{id}(id=${blog.id})}"><img style="max-width: 100px; max-height: 100px" th:src="'/'+${blog.getImage()}" alt="post">
                    <div class="blog-hover">
                      <i class="fa fa-link"></i>
                    </div>
                  </a>
                </div>
                <div class="single-post-content">
                  <h4 th:href="${blog.getTitle()}"><a th:href="@{/blogs/{id}(id=${blog.id})}">English Language Course for you</a></h4>
                  <p>
                    <span th:text="'By '+${blog.getAuthor()} + ' / ' "></span>
                    <span th:text="${#temporals.format(blog.getCreateTime(), 'MMMM d, yyyy')} "></span>

                  </p>
                </div>
              </div>
            </div>
            <div class="single-blog-widget">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog End -->

</main>

</body>
</html>
