
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/fragments/layout}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->

</head>
<body>
<main layout:fragment="MainContent">
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" th:href="@{/admin}"><img th:src="@{/img/logo/logo2.png}" class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" th:href="@{/admin}"><img th:src="@{/img/logo/logo2.png}" alt="logo" /></a>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <div th:insert="~{dashboard/fragments/sidebar.html}"></div>
            <!-- partial -->

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Update Teacher</h4>
                                    <form  method="post" class="forms-sample" enctype="multipart/form-data" th:action="@{/admin/teachers/update/{id}(id=${teacher.id})}">



                                        <div class="form-group">
                                            <label>Photo</label>
                                            <input class="form-control" type="text" id="image" name="image" th:value="${teacher.image}">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="image" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="form-control" type="text" data-val="true" data-val-required="This field cannot be empty" id="name" name="name" th:value="${teacher.name}">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Surname</label>
                                            <input class="form-control" type="text" data-val="true" data-val-required="This field cannot be empty" id="surname" name="surname" th:value="${teacher.surname}">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="surname" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Job</label>
                                            <input class="form-control" type="text" id="job" name="job" th:value="${teacher.job}">
                                            <span class="text-danger field-validation-valid"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Facebook URL</label>
                                            <input class="form-control" type="url" id="facebookUrl" name="facebookUrl" th:value="${teacher.facebookUrl}">
                                            <span class="text-danger field-validation-valid"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Communication Point</label>
                                            <input class="form-control" min="0" max="100" type="number" id="communicationPoint" name="communicationPoint" th:value="${teacher.communicationPoint}">
                                            <span class="text-danger field-validation-valid"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Development Point</label>
                                            <input class="form-control" min="0" max="100" type="number" id="developmentPoint" name="developmentPoint" th:value="${teacher.developmentPoint}">
                                            <span class="text-danger field-validation-valid"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Innovation Point</label>
                                            <input class="form-control" min="0" max="100" type="number" id="innovationPoint" name="innovationPoint" th:value="${teacher.innovationPoint}">
                                            <span class="text-danger field-validation-valid"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Design Point</label>
                                            <input class="form-control" min="0" max="100" type="number" id="designPoint" name="designPoint" th:value="${teacher.designPoint}">
                                            <span class="text-danger field-validation-valid"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Team Leader Point</label>
                                            <input class="form-control" min="0" max="100" type="number" id="teamLeaderPoint" name="teamLeaderPoint" th:value="${teacher.teamLeaderPoint}">
                                            <span class="text-danger field-validation-valid"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Language Point</label>
                                            <input class="form-control" min="0" max="100" type="number" id="languagePoint" name="languagePoint" th:value="${teacher.languagePoint}">
                                            <span class="text-danger field-validation-valid"></span>
                                        </div>

                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input class="form-control" type="text" id="phoneNumbers" name="phoneNumbers" th:value="${teacher.phoneNumbers}">
                                            <span class="text-danger field-validation-valid"></span>
                                        </div>


                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control" type="email" id="email" name="email" th:value="${teacher.email}">
                                            <span class="text-danger field-validation-valid"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Hobbies</label>
                                            <input class="form-control" type="text" id="hobbies" name="hobbies" th:value="${teacher.hobbies}">
                                            <span class="text-danger field-validation-valid"></span>
                                        </div>
                                        <!-- Include other form fields here using teacher.propertyName -->
                                        <button type="submit" class="btn btn-primary mr-2">Update</button>
                                        <a class="btn btn-light" href="/admin/teachers">Cancel</a>
                                        <input name="__RequestVerificationToken" type="hidden" value="{{token}}" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023.  by <a href="h//wa.me/994993401010" target="_blank">JrC</a>  All rights reserved.</span>
                    </div>
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

</main>



</body>

</html>

