<!-- About Start -->

<div class="about-area pb-155">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-content">
                    <h2 th:utext="${about.getTitle()}" ></h2>
                    <p th:utext="${about.getSubTitle()}"></p>
                    <a class="default-btn" th:href="@{/about}">view courses</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-img">
                    <img th:src="'/'+ ${about.getImagePath()}" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
