<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/admin/vendors/feather/feather.css}">
    <link rel="stylesheet" th:href="@{/admin/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/admin/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
    <link rel="stylesheet" th:href="@{/admin/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/js/select.dataTables.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/admin/css/vertical-layout-light/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/admin/images/favicon.png}" />
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="/Brains"><img th:src="@{/src/img/logo.png}" class="mr-2" alt="logo" /></a>
            <a class="navbar-brand brand-logo-mini" href="/Brains"><img th:src="@{/src/img/logo.png}" alt="logo" /></a>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Brains">
                        <i class="icon-grid menu-icon"></i>
                        <span class="menu-title">Main Page</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Brains/Events">
                        <i class="icon-paper menu-icon"></i>
                        <span class="menu-title">Courses</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Brains/News">
                        <i class="icon-paper menu-icon"></i>
                        <span class="menu-title">Events</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Brains/Vacancies">
                        <i class="icon-paper menu-icon"></i>
                        <span class="menu-title">Teachers</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Brains/Feedbacks">
                        <i class="icon-paper menu-icon"></i>
                        <span class="menu-title">Blogs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Brains/Educators">
                        <i class="icon-paper menu-icon"></i>
                        <span class="menu-title">Comments</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Brains/Partners">
                        <i class="icon-paper menu-icon"></i>
                        <span class="menu-title">Əməkdaşlıq</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Brains/Partners">
                        <i class="icon-paper menu-icon"></i>
                        <span class="menu-title">Speaker</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Brains/Partners">
                        <i class="icon-paper menu-icon"></i>
                        <span class="menu-title">Slider</span>
                    </a>
                </li>


            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">



                <h1>Admin Panel</h1>


            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023.  by <a href="h//wa.me/994993401010" target="_blank">SHMurad</a>  All rights reserved.</span>

                </div>
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/admin/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{/admin/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/admin/vendors/datatables.net/jquery.dataTables.js}"></script>
<script th:src="@{/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
<script th:src="@{/admin/js/dataTables.select.min.js}"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/admin/js/off-canvas.js}"></script>
<script th:src="@{/admin/js/hoverable-collapse.js}"></script>
<script th:src="@{/admin/js/template.js}"></script>
<script th:src="@{/admin/js/settings.js}"></script>
<script th:src="@{/admin/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{/admin/js/dashboard.js}"></script>
<script th:src="@{/admin/js/Chart.roundedBarCharts.js}"></script>

<!-- End custom js for this page-->
</body>

</html>