<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/fragments/layout}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->

</head>

<body>
<main layout:fragment="MainContent">
    <div class="container col-6 md-6">
        <form method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" name="username">
                <!--                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <br>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            <!--            <div class="form-check">-->
            <!--                <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
            <!--                <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
            <!--            </div>-->
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            <br>
            <a th:href="@{/forgot-password}" class="btn btn-link">Forgot My Password</a> <!-- Added link for forgot password -->

            <!-- Error message -->
            <div th:if="${error}" class="alert alert-danger" role="alert">
                Invalid username or password. Please try again.
            </div>
        </form>
        <!-- Footer-->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->

</main>

</body>

</html>