<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<main layout:fragment="MainContent">

    <!-- Background Area Start -->
    <section id="slider-container" class="slider-area two">
        <div class="slider-owl owl-theme owl-carousel">
            <!-- Start Slingle Slide -->
            <div th:each="slider:${sliders}" class="single-slide item"
                 th:style="'background-image: url(' + ${slider.getImage()} + ')'">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content text-center">
                                        <h2 th:text="${slider.getTitle()}"></h2>
                                        <p th:text="${slider.getSubtitle()}"></p>
                                        <a class="default-btn" th:href="@{/about}">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>

        </div>
    </section>
    <!-- Background Area End -->
    <!-- Service Start -->
    <div class="service-area two pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div th:each="service: ${services}" class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-service">
                        <h3><a href="teacher.html" th:text="${service.getName()}"></a></h3>
                        <p th:text="${service.getDescription()}"> </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Service End -->
    <!-- About Start -->
    <div th:insert="~{fragments/about.html}"></div>

    <!-- About End -->
    <!-- Courses Area Start -->
    <div class="courses-area two pt-150 pb-150 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title">
                        <img src="img/icon/section1.png" alt="section-title">
                        <h2>COURSES WE OFFER</h2>
                    </div>
                </div>
            </div>
            <div  class="row row-equal-height">
                <div th:each="course : ${courses}" class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course mb-70" style="height:550px;" >
                        <div class="course-img">
                            <a th:href="@{/courses/{id}(id=${course.id})}">
                                <img style="height: 300px; width: 100%; object-fit: cover"
                                     th:src="${course.getImage()}" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a th:href="@{/courses/{id}(id=${course.id})}" th:text="${course.getName()}"></a></h3>
                            <p th:text="${#strings.length(course.description) &gt; 100} ? ${#strings.substring(course.description, 0, 100) + '...'} : ${course.description}"></p>
                            <a class="default-btn" th:href="@{/courses/{id}(id=${course.id})}">read more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Courses Area End -->
    <!-- Notice Start -->
    <div th:insert="~{fragments/notice.html}"></div>
    <!-- Notice End -->
    <!-- Event Area Start -->
    <div class="event-area two text-center pt-100 pb-145">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title">
                        <img src="img/icon/section.png" alt="section-title">
                        <h2>UPCOMMING EVENTS</h2>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-6 col-sm-12 col-xs-12" th:each="event : ${events}">
                    <div class="single-event mb-35" style="height: 320px;">
                        <div class="event-img" style="text-align: center;">
                            <a th:href="@{/events/{id}(id=${event.id})}">
                                <img th:if="${event.image.startsWith('http')}" th:src="@{${event.image}}" alt="event" style="max-height: 300px; max-width: 300px; display: block; margin: 0 auto;"></a>
                            <img th:if="${!event.image.startsWith('http')}" th:src="'/'+${event.getImage()}" alt="event" style="max-height: 300px; display: block; margin: 0 auto;"></a>
                        </div>
                        <div class="event-content text-left">
                            <h3 th:text="${#temporals.format(event.getStartTime(), 'dd MMMM yyyy')}">20 June 2017</h3>
                            <h4><a th:href="@{/events/{id}(id=${event.id})}" th:text="${event.getName()}">ADVANCE PHP WORKSHOP</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>
                                    <span th:text="${#temporals.format(event.getStartTime(), 'hh:mm')}">9.00 AM</span> -
                                    <span th:text="${#temporals.format(event.getEndTime(), 'hh:mm')}">4.45 PM</span>
                                </li>
                                <li><i class="fa fa-map-marker"></i><span th:text="${event.getLocation()}"></span></li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" th:href="@{/events/{id}(id=${event.id})}">join now</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- Event Area End -->
    <!-- Testimonial Area Start -->
    <div th:insert="~{fragments/studentComment.html}"></div>
    <!-- Testimonial Area End -->
    <!-- Blog Area Start -->
    <div class="blog-area pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center">
                        <img src="img/icon/section.png" alt="section-title">
                        <h2>LATEST FROM BLOG</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div th:each="blog: ${blogs}" class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog" style="height:430px;">
                        <div class="blog-img">
                            <a th:href="@{/blogs/{id}(id=${blog.id})}">
                                <img th:if="${!blog.image.startsWith('http')}" th:src="'/'+ ${blog.getImage()}" alt="blog">
                                <img th:if="${blog.image.startsWith('http')}" th:src="${blog.getImage()}" alt="course">
                            </a>
                            <div class="blog-hover">
                                <a th:href="@{/blogs/{id}(id=${blog.id})}"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>
                                    <span th:text="'By '+${blog.getAuthor()} + ' / ' "></span>
                                    <span th:text="${#temporals.format(blog.getCreateTime(), 'MMMM d, yyyy')} + ' / '"></span>
                                    <i class="fa fa-comments-o"></i>

                                </p>

                            </div>
                            <div class="blog-bottom">
                                <h2><a th:text="${blog.getTitle()}" th:href="@{/blogs/{id}(id=${blog.id})}"></a></h2>
                                <a th:text="${blog.getSubtitle()}" th:href="@{/blogs/{id}(id=${blog.id})}"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Blog Area End -->
</main>

</body>
</html>
