<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="MainContent">

    <!-- Banner Area Start -->
    <div class="banner-area-wrapper">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>about us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <!-- About Start -->
    <div th:insert="~{fragments/about.html}"></div>
    <!-- About End -->
    <!-- Teacher Start -->
    <div class="teacher-area pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center">
                        <img src="img/icon/section.png" alt="title">
                        <h2>meet our teachers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div th:each="teacher: ${teachers}" class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-teacher">
                        <div class="single-teacher-img">
                            <a th:href="@{/teachers/{id}(id=${teacher.getId()})}">
                                <img th:src="@{'/' + ${teacher.getImage()}}" alt="teacher">
                            </a>
                        </div>
                        <div class="single-teacher-content text-center">
                            <h2 th:text="${teacher.getName()} +' '+ ${teacher.getSurname()}"><a th:href="@{/teachers/{id}(id=${teacher.getId()})}">STUART KELVIN</a></h2>
                            <h4 th:text="${teacher.getJob()}">Associate Professor</h4>
                            <ul>
                                <li><a th:href="${teacher.getFacebookUrl()}"><i class="zmdi zmdi-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Teacher End -->
    <!-- Testimonial Area Start -->
    <div th:insert="~{fragments/studentComment.html}"></div>
    <!-- Testimonial Area End -->
    <!-- Notice Start -->
    <div th:insert="~{fragments/notice.html}"></div>
    <!-- Notice End -->

</main>

</body>
</html>
