
<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard/fragments/layout}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- plugins:css -->

</head>
<body>

<main layout:fragment="MainContent">
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" th:href="@{/admin}"><img th:src="@{/img/logo/logo2.png}" class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" th:href="@{/admin}"><img th:src="@{/img/logo/logo2.png}" alt="logo" /></a>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <div th:insert="~{dashboard/fragments/sidebar.html}">

            </div>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Create New Event</h4>
                                    <form th:action="@{/admin/events/create}" method="post" class="forms-sample" enctype="multipart/form-data">

                                        <div class="form-group">
                                            <label>Image URL</label>
                                            <input class="form-control" type="text" id="image" name="image">
                                            <small class="form-text text-muted">Provide a direct URL to the image (optional).</small>
                                        </div>

                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="form-control" type="text" data-val="true" data-val-required="This field cannot be empty" id="name" name="name" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
                                        </div>

                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea class="form-control" data-val="true" data-val-required="This field cannot be empty" id="description" name="description"></textarea>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="description" data-valmsg-replace="true"></span>
                                        </div>

                                        <div class="form-group">
                                            <label>Event Date</label>
                                            <input class="form-control" type="datetime-local" data-val="true" data-val-required="This field cannot be empty" id="eventDate" name="eventDate" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="eventDate" data-valmsg-replace="true"></span>
                                        </div>

                                        <div class="form-group">
                                            <label>Start Time</label>
                                            <input class="form-control" type="datetime-local" data-val="true" data-val-required="This field cannot be empty" id="startTime" name="startTime" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="startTime" data-valmsg-replace="true"></span>
                                        </div>

                                        <div class="form-group">
                                            <label>End Time</label>
                                            <input class="form-control" type="datetime-local" data-val="true" data-val-required="This field cannot be empty" id="endTime" name="endTime" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="endTime" data-valmsg-replace="true"></span>
                                        </div>


                                        <div class="form-group">
                                            <label>Location</label>
                                            <input class="form-control" type="text" data-val="true" data-val-required="This field cannot be empty" id="location" name="location" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="location" data-valmsg-replace="true"></span>
                                        </div>

                                        <div class="form-group">
                                            <label>Reply Text</label>
                                            <textarea class="form-control" data-val="true" data-val-required="This field cannot be empty" id="replyText" name="replyText"></textarea>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="replyText" data-valmsg-replace="true"></span>
                                        </div>

                                        <div class="form-group">
                                            <select name="speakerId"  class="form-control" >
                                                <option th:each="speaker : ${speakers}"
                                                        th:text="${speaker.getFullname()}"
                                                        th:value="${speaker.id}"></option>
                                            </select>
                                        </div>

                                        <input type="submit" value="Create" class="btn btn-success" />
                                        <a class="btn btn-light" th:href="@{/admin/events}">Go Back</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023.  by <a href="https://wa.me/994993401010" target="_blank">JrC</a>  All rights reserved.</span>
                    </div>
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

</main>

</body>

</html>

